{% extends "../base_email.html" %}

{% block main_content %}
  {% autoescape off %}
    <tr>
      <td align="left" style="padding: 16px 0; font-family: 'Figtree', sans-serif; font-size: 16px; color: #212326;">
        <p>Xin chào,</p>
        <p>Chúng tôi đã nhận được yêu cầu đặt lại mật khẩu cho tài khoản của bạn cho địa chỉ email này. Để bắt đầu quá trình đặt lại mật khẩu cho tài khoản của bạn, vui lòng sử dụng mã bên dưới:</p>
        <p><strong>Mã của bạn: {{ code }}</strong></p>
        {% comment %}
          <p  align="center">
            <a href="{{ settings.FRONTEND_URL }}/reset-password/?uid={{uid}}&token={{token}}" style="display: inline-block; padding: 6px 24px; color: #fafafa; background-color: #2399f9; border-radius: 22px; font-family: 'Figtree', sans-serif; font-weight: 700; font-size: 16px; text-decoration: none;">
              Bấm vào đây để đặt lại mật khẩu
            </a>
          </p>
        {% endcomment %}
        <p style="font-style: italic">*Nếu bạn không gửi yêu cầu này, bạn có thể bỏ qua email này.</p>
      </td>
    </tr>
  {% endautoescape %}
{% endblock %}