{% extends "../base_email.html" %}

{% block main_content %}
  {% autoescape off %}
    <tr>
      <td align="left" style="padding: 16px 0; font-family: 'Figtree', sans-serif; font-size: 16px; color: #212326;">
        <p>Hello,</p>
        <p>We received a request to reset the password for your account for this email address. To initiate the password reset process for your account, please use the code below:.</p>
        <p><strong>Your Reset Code: {{ code }}</strong></p>
        {% comment %}
          <p  align="center">
            <a href="{{ settings.FRONTEND_URL }}/reset-password/?uid={{uid}}&token={{token}}" style="display: inline-block; padding: 6px 24px; color: #fafafa; background-color: #2399f9; border-radius: 22px; font-family: 'Figtree', sans-serif; font-weight: 700; font-size: 16px; text-decoration: none;">
              Click here to reset your password
            </a>
          </p>
        {% endcomment %}
        <p style="font-style: italic">*If you did not make this request, you can simply ignore this email.</p>
      </td>
    </tr>
  {% endautoescape %}
{% endblock %}