{% extends "../base_email.html" %}

{% block main_content %}
  {% if user.email_verified %}
    <tr>
      <td align="center" style="padding: 16px 0; font-family: 'Figtree', sans-serif; font-size: 16px; color: #212326;">
        <h1>
          Đăng ký thành công
        </h1>
        <p>Xin chào, {{ user_name }}</p>
        <p>Chúng tôi rất vui khi được gặp bạn.</p>
        <p>Bạn đã đăng ký tài khoản thành công với Fastwork.</p>
        <p>Hãy bắt đầu khám phá và tận dụng tối đa tài khoản của bạn ngay hôm nay.</p>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 16px 0;">
        <a href="{{ settings.FRONTEND_URL }}" style="display: inline-block; padding: 6px 24px; color: #fafafa; background-color: #2399f9; border-radius: 22px; font-family: 'Figtree', sans-serif; font-weight: 700; font-size: 16px; text-decoration: none;">
          Trang chủ
        </a>
      </td>
    </tr>
  {% else %}
    <tr>
      <td align="center" style="padding: 16px 0;">
        <h1 style="color: #212326; font-family: 'Figtree', sans-serif; font-weight: 700; font-size: 24px; margin: 0;">
          Nhấp vào đây để xác nhận đăng ký của bạn
        </h1>
      </td>
    </tr>
    <tr>
      <td align="center" style="padding: 16px 0;">
        <a href="{{ url }}" style="display: inline-block; padding: 6px 24px; color: #fafafa; background-color: #2399f9; border-radius: 22px; font-family: 'Figtree', sans-serif; font-weight: 700; font-size: 16px; text-decoration: none;">
          Đăng ký ngay
        </a>
      </td>
    </tr>
  {% endif %}
{% endblock %}